name: Deploy Pipeline
on:
  push:
    branches: [ main ]
jobs:
  terraform:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: *****arn:aws:iam::637423443220:role*****/GitHubActionRole
          aws-region: us-east-1
      - uses: hashicorp/setup-terraform@v2
      - run: terraform init -upgrade
        working-directory: ./infra
      - run: terraform apply -auto-approve -var="domain_name=aws-workshops.com"
        working-directory: ./infra
